h1 {
  position: relative;
  margin: 3.5rem auto 1rem 15rem;
}

.form_one {
  position: relative;
  margin: 2rem 0 2rem 20rem;
}

.form_two {
  position: relative;
  display: flex;
  width: clamp(275px, 50%, 700px);
  margin: 0, 0, 0, 50rem;
}

ul {
  margin: 0;
  padding: 0;
}

.to-do {
  cursor: pointer;
  position: relative;
  padding: 12px 30px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.to-do:hover {
  background: #ddd;
}

.to-do.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.to-do.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}